doctype html
html(ng-app='catoApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/spinkit/css/spinkit.css')
    link(rel='stylesheet', href='/lib/spinkit/css/7-three-bounce.css')
    script(src='/lib/socket.io-client/socket.io.js')
    script(src='/lib/angular/angular.min.js')
    script(src='/js/main.js')
  block content
